<html>

<head>
  <title>Success</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
</head>

<body>
  <p id="msg">You have successfully completed the task! </p>

  <style>
  #msg {
    margin: 32px;
    font-size: 1.5em;
    text-align: center;
    
  }
  </style>
</body>

</html>
